.wrap {
  width: 1500px;
  margin: 30px auto;
}

.title-all-wrap {
  overflow: hidden;
}

.tab,
.main-img {
  float: left;
}

.title-wrap {
  text-align: center;
  font-size: 24px;
}

.title {
  letter-spacing: 0.3cm;
  border-bottom: 2px solid #ccc;
  color: #fff;
}

.tab > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.tab > ul > li {
  width: 300px;
  border: 1px solid #ccc;
  text-align: center;

  background-color: #fff;
}

.tab > ul > li > a {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #ff9f9f;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.5s;
}

.tab > ul > li > a:hover {
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  background-color: #ff7777;
}

.main-img {
  width: 880px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}

.main-img > img {
  margin: 0 auto;
}

.main-img > .name {
  padding: 5px;
}

.main-img > .name > span {
  font-size: 40px;
  font-weight: bold;
}

.main-img > .type {
  font-size: 30px;
  padding-top: 10px;
}

.main-img > .type > span {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
