.title-wrap {
  text-align: center;
  font-size: 24px;
}

.title {
  letter-spacing: 0.3cm;
}

.tab > ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  width: 900px;
  margin-top: 40px;
}

.tab > ul > li {
  float: left;
  padding: 10px;
  width: calc(100% / 3);
  border: 1px solid #ccc;
  text-align: center;
  box-sizing: border-box;
}

.tab > ul > li > a {
  font-size: 20px;
}

.main-img {
  text-align: center;
  padding-top: 40px;
  transition: 3s;
}

.main-img > .name {
  padding: 5px;
}

.main-img > .name > span {
  font-size: 30px;
  font-weight: bold;
}

.main-img > .type > span {
  font-size: 28px;
  font-weight: bold;
}

.main-img > img {
  margin: 0 auto;
}
