.board-list {
  width: 600px;
  margin: 0 auto;
}

.board-list > ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  overflow: hidden;
}

.board-list > ul > li {
  float: left;
}

.likes1 {
  width: 15%;
  text-align: left;
}

.text1 {
  width: 65%;
}

.done-text1 {
  text-decoration: line-through;
}

.done1 {
  text-align: right;
  width: 20%;
}

.like-icon1,
.remove-icon1 {
  color: #ff1700;
  cursor: pointer;
  font-size: 20px;
}

.done-icon1 {
  color: #4fd3c4;
  padding-right: 5px;
  cursor: pointer;
  font-size: 20px;
}
