.todo-frm {
  width: 700px;
  margin: 0 auto;
  padding-left: 200px;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}
.todo-frm > * {
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 10px;
}
.todo-frm > input {
  border: 1px solid #ff7777;

  width: 80%;
}
.todo-frm > button {
  width: 20%;
  border: 1px solid #ff7777;
  background-color: aliceblue;
  color: #ff7777;
}
