.enfp-all-wrap {
  width: 1200px;
  margin: 0 auto;
  /* text-align: center; */
}
.enfp-all-wrap > h2 {
  font-size: 50px;
}
.enfp-info-wrap {
  padding-left: 250px;
}

.enfp-contnent {
  width: 900px;
  box-sizing: border-box;
  padding: 0px 50px;
  display: contents;
  text-align: center;
  /* border-left: 1px solid aliceblue; */
}
.enfp-title {
  color: aliceblue;
  padding-left: 40px;
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
}
.enfp-info-title > h2 {
  color: aliceblue;
}
.enfp-info-title > h1 {
  color: aliceblue;
}
.enfp-info-title > img {
  width: 300px;
  height: 300px;
}
.infoexpian > ul > li {
  list-style: none;
  color: aliceblue;
}
.enfp-info-content {
  display: block;
  color: aliceblue;
}

.infoimg > img {
  padding-left: 320px;
  padding-top: 50px;
  width: 500px;
  height: 400px;
}
.infoimg-2 > img {
  padding-top: 50px;
  height: 400px;
  padding-left: 200px;
}
.infoexpian {
  text-align: center;
  margin-left: 350px;
  color: aliceblue;
}
.infoexpian ul {
  overflow: hidden;
}
.infoexpian li {
  padding: 1em;
}
.infoexpian li > div {
  float: left;
}
.remove {
  display: none;
}
.infoexpian > p {
  text-align: center;
  padding-top: 100px;
}
.enfp-contentZ {
  box-sizing: border-box;
  padding: 0;
  display: contents;
  text-align: center;
}
.zone-title > p {
  padding-left: 100px;
}
.enfp-content-2 {
  width: 900px;
  box-sizing: border-box;
  padding-right: 50px;
  padding-bottom: 300px;
}
.infoexpian2 > p {
  color: aliceblue;
  box-sizing: border-box;
  padding-left: 200px;
  text-align: center;
  padding-top: 100px;
}
