.todo-list {
  width: 700px;
  margin: 0 auto;
}
.todo-list > ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ff7777;
  overflow: hidden;
  background-color: aliceblue;
}
.todo-list > ul > li {
  float: left;
}
.likes {
  width: 15%;
  text-align: center;
}
.text {
  width: 65%;
}

.clear{
  color: #ff7777;
}
.like-icon {
  /* color: aliceblue; */
  cursor: pointer;
  font-size: 20px;
}

