.e-list {
  width: 700px;
  margin: 0 auto;
  padding-left: 50px;
  padding-bottom: 300px;
}
.e-list > ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ff7777;
  overflow: hidden;
  background-color: aliceblue;
}
.e-list > ul > li {
  float: left;
}
.elikes {
  width: 15%;
}
.etext {
  width: 65%;
  height: 50px;
  line-height: 50px;
  text-align: left;
}

.clear {
  color: #ff7777;
  cursor: pointer;
  text-align: right;
}
.like-icon {
  /* color: aliceblue; */
  cursor: pointer;
  font-size: 20px;
}
