.s-input-box {
  width: 700px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  align-items: center;
}
.s-input-box > * {
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 10px;
}
.s-input-box > input {
  width: 80%;
}
.s-input-box > button {
  width: 20%;
  background: #282828;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.s-board-list {
  width: 700px;
  margin: 0 auto;
}
.s-board-list > ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #fff;
  overflow: hidden;
}
.s-board-list > ul > li {
  float: left;
}
.s-likes {
  width: 15%;
  text-align: center;
}
.s-text {
  width: 65%;
  color: #fff;
}
.s-done {
  width: 20%;
  text-align: right;
}
.s-like-icon,
.s-remove-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
