.input-box {
  width: 700px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  align-items: center;
}
.input-box > * {
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 10px;
}
.input-box > input {
  width: 80%;
}
.input-box > button {
  width: 20%;
  background: #282828;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.board-list {
  width: 700px;
  margin: 0 auto;
}
.board-list > ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #fff;
  overflow: hidden;
}
.board-list > ul > li {
  float: left;
}
.likes {
  width: 15%;
  text-align: center;
}
.text {
  width: 65%;
  color: #fff;
}
.done {
  width: 20%;
  text-align: right;
}
.like-icon,
.remove-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
