.infp-title-wrap {
  width: 500px;
  text-align: center;
  margin: 0 auto;
}
.infp-title {
  font-size: 50px;
}
.infp-intro {
  color: #fff;
  font-size: 30px;
  text-align: center;
}
.mbti-img-box {
  width: 300px;
  margin: 0 auto;
}
.mbti-img-box > img {
  width: 100%;
  height: 100%;
}

.personality-type > .title {
  font-size: 24px;
}
.wise-saying {
  margin-top: 10px;
  padding: 10px;
  border-left: 3px solid #fff;
}
