.content {
  text-align: center;
}
.content > h2 {
  font-family: Jua;
  font-size: 60px;
  color: #fff;
  margin-bottom: 70px;
}
.member-list {
  overflow: hidden;
}
.member-list > div {
  float: left;
  padding: 0px 30px;
}
.member-name {
  margin-top: 30px;
  font-family: Jua;
  color: #fff;
  font-size: 30px;
}
.member-img {
  width: 400px;
  height: 400px;
}
